#program {
	display: block;
	margin: 15px auto 0 auto;
	width: 80%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#program:focus {
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);
	transition: box-shadow 1s;
}

#program-result {
	margin: 0 auto 25px auto;
	z-index: 1;
	width: 80%;
}

#program-result * {
	padding: 8px;
	margin: 0 auto;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	cursor: pointer;
}

#program-result *:hover {
	color: white;
	background-color: #0078CA;
}

#courses {
	border: 1px solid #003C71;
	border-radius: 5px;
	padding: 8px;
	margin: 10px 0;
	box-shadow: inset 0 0 5px #003C71;
}